<%- include('header'); -%>

<div class="my-3 my-md-5">
<div class="container">

<div class="page-header">
<h1 class="page-title">
Buying Page
</h1>
</div>
<div class="alert alert-info">You must make 5% deposite in order to view vehicle documents. <a href="" class="alert-link">Make payment</a></div>
<form class="card">
<div class="card-body">
    <h3 class="card-title">Preview car details</h3>
    <div class="row">
        <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                        <div class="mb-4 text-center">
                            <img src="/img/product1.jpg" alt="" class="img-fluid">
                        </div>
                        <h4 class="card-title"><a href="javascript:void(0)">Product Image</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-status bg-green"></div>
                        <div class="card-header">
                        <h3 class="card-title">Advertising Section</h3>
                        <div class="card-options">
                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                        </div>
                        </div>
                        <div class="card-body">
                            <table class="table card-table">
                                    <tr>
                                        <td><a href="#"><img src="/public/company1.jpg" alt=""></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><img src="/public/company2.jpg" alt=""></a></td>
                                    </tr>
                                </table>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-12">
                <h3 class="h3-responsive">Seller's Information</h3>
                <div class="float-left">
                    <p class="">
                    <span class="text-muted">Name:</span> 
                    <span class="text-bold h4 text-primary"> Arthur Assan</span>
                    </p>
                    <p class="">
                        <span class="text-muted">Email Address:</span> 
                        <span class="text-bold h4 text-primary">arthur.assan@gmail.com</span>
                    </p>
                    </div>
                <div class="float-right">
                    <p class="">
                        <span class="text-muted">Digital Address: </span> 
                        <span class="text-bold h4 text-primary"> EJ-1164-0098</span>
                    </p>
                    <p class="">
                        <span class="text-muted">Voter's ID:</span> 
                        <span class="text-bold h4 text-primary"> 12345678</span>
                    </p>
                    <p class="">
                        <span class="text-muted">Phone #: </span> 
                        <span class="text-bold h4 text-primary"> 0503564637</span>
                        </p>
                    </div>
                </div>
                    <hr class="myhr">
                    <div class="col-lg-12">
                        <h3 class="h3-responsive">Vehicle Information</h3>
                    <div class="float-left">
                    <p class="">
                        <span class="text-muted">Manufacturer:</span> 
                        <span class="text-bold h4 text-gray">Toyota</span>
                    </p>
                    <p class="">
                        <span class="text-muted">Model:</span> 
                        <span class="text-bold h4 text-gray">Camry</span>
                        </p>
                    <p class="">
                        <span class="text-muted">Cubic Capacity:</span> 
                        <span class="text-bold h4 text-gray">12345</span>
                        </p>
                        <p class="">
                            <span class="text-muted">Cylinders:</span> 
                            <span class="text-bold h4 text-gray">6</span>
                        </p>
                        <p class="">
                            <span class="text-muted">Mileage:</span> 
                            <span class="text-bold h4 text-gray">123</span> km/hr
                        </p>
                        <p class="">
                            <span class="text-muted">Registered:</span> 
                            <span class="text-bold h4 text-gray">Yes</span>
                        </p>
                        <p class="">
                            <span class="text-muted">Additional Information:</span> <br>
                            <span class="text-bold h4 text-gray">This car is awesome no faults</span>
                        </p>
                    </div>
                
                <div class="float-right">
                    <p class="h3">
                        <span class="text-muted">Price:</span><br> GHc
                        <span class="text-bold text-cyan">12345677</span>
                        </p>
                </div>
                </div>
                    <hr class="myhr">
                    <div class="col-12">
                    <h3 class="h3-responsive">Delivery Information</h3> 
                    <div class="row">        
                    <div class="col-md-5 mt-4">
                    <div class="form-group">
                            <label class="form-label">Mode of Delivery</label>
                            <select name="" id="select-manufacturer" class="form-control custom-select">
                                <option value="1">By towing</option>
                                <option value="4">Driving</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7 mt-4">
                        <div class="form-group">
                            <label class="form-label">Delivery Location</label>
                            <input type="text" class="form-control" placeholder="Enter drop Location">
                        </div>
                    </div>

                </div>
                <div class="col-12 mt-3">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-label">Agree the <a href="terms.html"  data-toggle="modal" data-target="#termsandconditions">terms and conditions</a></span>
                        </label>
                    </div>
                </div>
                </div>   
            </div>
        </div>
        </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-dark">Buy Car</button>
            </div>
            </form>
            </div>


</div>
</div>

<!-- Modal -->
<div class="modal fade" id="termsandconditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                <div class="card">
                <div class="card-status card-status-left bg-blue"></div>
                <div class="card-body">
                    First requirement, if the vehicle is already registered the seller will have to provide the vehicle documents, change of ownership letter, photocopy of their ID and a signed dvla form C before payment is made to the sellers account.
                </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-status card-status-left bg-teal"></div>
                    <div class="card-body">
                        Second requirement, the seller will have to provide the vehicle for inspection 48 hours whether registered or unregistered after submitting your request to sell your vehicle. The vehicle search will be done at a dvla-approved garage where the seller and our agent will be present.
                    </div>
                </div>
                </div>
            
                <div class="col-lg-12">
                <div class="card">
                    <div class="card-status card-status-left bg-yellow"></div>
                    <div class="card-body">
                        4 hours after inspection the vehicle will be uploaded on our product section
                    </div>
                </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                    <div class="card-status card-status-left bg-lime"></div>
                    <div class="card-body">
                        Seller will have to go to edit price to be able to edit their price and that will take effect 24 hours after uploading the price. The seller will be required to leave a comment why they are changing the price
                    </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-status card-status-left bg-green"></div>
                        <div class="card-body">
                            Fourth requirement, if the vehicle has not be registered the seller will have to provide customs documents will be before payment is made and also provide any additional documentation
                        </div>
                    </div>
                    </div>
                
                    <div class="col-lg-12">
                        <div class="card">
                        <div class="card-status card-status-left bg-cyan"></div>
                        <div class="card-body">
                            Fifth requirement, the seller will provide a signed authority letter to our agent after inspection for us to run background checks before the vehicle is uploaded. The seller will pay 2 cedis to have his vehicle on the hot wheels section

                        </div>
                        </div>
                    </div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Accept Terms and Conditions</button>
        </div>
    </div>
    </div>
</div>

<%- include('footer'); -%>