<%- include('header'); -%>

<!-- Hot cars  -->

<div class="my-3 my-md-5">
    <div class="container">
    <div class="page-header">
        <h1 class="page-title">
        Hot Cars
        </h1>
    </div>
    <div class="row row-cards">
        <div class="col-lg-4">
        <div class="row">
            <div class="col-md-6 col-lg-12">
            <div class="card">
                <div class="card-body">
                <div class="mb-4 text-right">
                    <img src="/img/product1.jpg" alt="" class="img-fluid">
                    <span class="tag tag-rounded tag-gray">Refurbished</span>
                </div>
                <h4 class="card-title"><a href="javascript:void(0)">Benz</a></h4>
                <div class="card-subtitle">
                    Benz
                </div>
                <div class="mt-5 d-flex align-items-center">
                    <div class="product-price">
                    <strong>Ghc 1,234,556</strong>
                    </div>
                    <div class="ml-auto">
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i> Buy car</a>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-12">
                <div class="card">
                <div class="card-body">
                    <div class="mb-4 text-right">
                    <img src="/img/product2.jpg" alt="" class="img-fluid">
                    <span class="tag tag-rounded tag-orange">Discounted</span>
                    </div>
                    <h4 class="card-title"><a href="javascript:void(0)">Benz</a></h4>
                    <div class="card-subtitle">
                    Benz
                    </div>
                    <div class="mt-5 d-flex align-items-center">
                    <div class="product-price">
                        <strong>Ghc 1,234,556</strong>
                    </div>
                    <div class="ml-auto">
                        <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i> Buy car</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-8">
        <div class="card">
            <table class="table card-table table-vcenter">
            <tr>
                <td><img src="/img/product3.jpg" alt="" class=""></td>
                <td>
                Toyota
                </td>
                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">Mr. David</td>
                <td class="text-right text-bold d-none d-md-table-cell text-nowrap">Ghc 1,325,567</td>
                <td class="text-right">
                <button class="btn btn-dark"><i class="fe fe-shopping-cart"></i>Buy car</button>
                </td>
            </tr>
            <tr>
                <td><img src="/img/product2.jpg" alt="" class=""></td>
                <td>
                    Toyota
                </td>
                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">Mr. David</td>
                <td class="text-right text-bold d-none d-md-table-cell text-nowrap">Ghc 1,325,567</td>
                <td class="text-right">
                    <button class="btn btn-dark"><i class="fe fe-shopping-cart"></i>Buy car</button>
                </td>
                </tr>
                <tr>
                    <td><img src="/img/product1.jpg" alt="" class=""></td>
                    <td>
                    Toyota
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">Mr. David</td>
                    <td class="text-right text-bold d-none d-md-table-cell text-nowrap">Ghc 1,325,567</td>
                    <td class="text-right">
                    <button class="btn btn-dark"><i class="fe fe-shopping-cart"></i>Buy car</button>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<%- include('footer'); -%>