<%- include('header'); -%>

<div class="my-3 my-md-5">
    <div class="container">
    <div class="col-md-12">
        <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carousel-indicators" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-indicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 rounded" alt="" src="/img/pic1.jpg" data-holder-rendered="true">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 rounded" alt="" src="/img/pic2.jpg" data-holder-rendered="true">
            </div>
            </div>
        </div>
    </div>

    <div class="page-header">
            <h1 class="page-title">
                Hot Cars for the Week
            </h1>
        </div>
                <!-- Hot Cars -->
                <div class="row row-deck">
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                            <div class="card-body">
                                <div class="mb-4 text-center">
                                <img src="/img/product1.jpg" alt="product image" class="img-fluid">
                                </div>
                                <h4 class="card-title"><a href="javascript:void(0)">Tundra</a></h4>
                                <div class="card-subtitle">
                                Toyata
                                </div>
                                <div class="mt-5 d-flex align-items-center">
                                <div class="product-price">
                                    <strong>Ghc 124,234</strong>
                                </div>
                                <div class="ml-auto">
                                    <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i>Buy car</a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                            <div class="card-body">
                                <div class="mb-4 text-center">
                                <img src="/img/product2.jpg" alt="" class="img-fluid">
                                </div>
                                <h4 class="card-title"><a href="javascript:void(0)">Benz</a></h4>
                                <div class="card-subtitle">
                                Benz
                                </div>
                                <div class="mt-5 d-flex align-items-center">
                                <div class="product-price">
                                    <strong>Ghc 1,234,500</strong>
                                </div>
                                <div class="ml-auto">
                                    <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i> Buy car</a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                <div class="mb-4 text-center">
                                    <img src="/img/product3.jpg" alt="" class="img-fluid">
                                </div>
                                <h4 class="card-title"><a href="javascript:void(0)">Toyota</a></h4>
                                <div class="card-subtitle">
                                    Toyota
                                </div>
                                <div class="mt-5 d-flex align-items-center">
                                    <div class="product-price">
                                    <strong>Ghc 1,234,500</strong>
                                    </div>
                                    <div class="ml-auto">
                                    <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i> Buy car</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
    <!-- call to action -->
        <div class="col-lg-12">
        <div class="card p-3">
            <div class=" align-items-center">
            <span class=" float-left stamp stamp-md bg-red mr-3">
                <i class="fe fe-shopping-cart"></i>
            </span>
            <div class="float-left">
                <h4 class="m-0">Looking Forward to <strong>Buy</strong> or <strong>Sell</strong> Your first car ?</h4>
                <small class="text-muted">What are you waiting for. Let's get you started</small>
            </div>
            <div class="float-right">
                <button class="btn btn-dark">Sign up</button>
            </div>
            </div>
        </div>
        </div>

    <div class="page-header">
        <h1 class="page-title">
            Testimonial
        </h1>
    </div>
    <div class="row row-cards row-deck">
        <div class="col-lg-6">
        <div class="card card-aside">
            <div class="card-body d-flex flex-column">
            <h4><a href="#">Toyota Hilux</a></h4>
            <div class="text-muted">I purchased a brand new toyota hilux from buy and sell and it was ulterly amazing. This is the best experience I have had so far.</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
                <div>
                <a href="./profile.html" class="text-default">John Doe</a>
                <small class="d-block text-muted">1 days ago</small>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="card card-aside">
            <div class="card-body d-flex flex-column">
            <h4><a href="#">Honda Civic</a></h4>
            <div class="text-muted">The car I bought was wow. so have a try for yourself</div>
            <div class="d-flex align-items-center pt-5 mt-auto">
                <div>
                <a href="#" class="text-default">Arthur Richards</a>
                <small class="d-block text-muted">4 days ago</small>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>

<%- include('footer'); -%>