<%- include('header'); -%>
        <div class="my-3 my-md-5">
            <div class="container">

            <div class="page-header"></div>

           <!-- card        -->
           <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Return Policy</h3>
                    <div class="card-options">
                      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                      <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- start -->
                            <h3>What is Autobought’s return policy?</h3>
                            <p>
                                You may return purchases within 14 days of delivery for a full refund. If the item being returned is not damaged or defective, we'll deduct the prepaid cost of return delivery from the refund. Once the item is received by Autobought the refund will be applied.<br><br>

                                <strong>Please note:</strong> • Anything mentioned in the ‘Not acceptable’ column section of the following pages will be charged for on return of the vehicle • A full service history is required from a Mercedes-Benz Retailer. If this is not provided you will be charged in accordance with our vehicle return standards • All vehicles over 14 days old cannot be returned. You may be charged for a transporter to return the vehicle. Are there exceptions to this return policy?
                            </p>

                            <div class="col-lg-12">
                                <div class="card">
                                  <div class="card-status card-status-left bg-blue"></div>
                                  <div class="card-header">
                                      <h3 class="card-title">Body and Paint</h3>
                                      <div class="card-options">
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                      </div>
                                    </div>
                                  <div class="card-body">
                                        <img src="/public/rp1.jpg"><br>
                                        There will be no charge for light damage that falls within our acceptable returns standards. However, more severe dents and damage that has penetrated the base coat will be charged. Any vehicle wraps or livery will need to be removed and the vehicle returned to its original factory colour.Acceptable: • Minor body dents, typically those caused by door-to-door contact, provided that: • a) they are less than 13mm (½") in diameter — maximum one dent per panel to maximum of two dents per vehicle for vehicles up to two years old and four dents for vehicles over two years • b) if more than two (or four) dents exist, the most severe should be repaired • Light surface scratches not through the top coat which can be removed by polishing/touch up • Any chipping of paintwork that can be attributed to normal usage (e.g. chips caused by stones flying off public road surfaces) provided that they do not penetrate the vehicle base coat nor show signs of corrosion • Previous repair up to an acceptable standard.Not acceptable: • Any excessive chipping of paintwork arising from non-public road use e.g. gravel drives, industrial sites or private roads • Any chipping and scratching of paintwork that has penetrated the base coat and/or has caused corrosion of any kind which cannot be polished out • Dents on swage lines or folder edges. Dents on high profile panels, i.e. bonnets/ wheel arches, etc • Industrial, chemical fall-out or other forms of contamination • Body panel misalignment not consistent with manufacturer’s finish • Previous body repairs and paint rectification if there is evidence of poor colour match, ripples, preparation marks, visible overspray, masking lines or excess dirt in paint. Excess paint chips which detract from the overall appearance of the vehicle, or panel • Under-body damage affecting the structural integrity of your vehicle or warranty • Damaged aerials. Drilled holes for telephone aerial fittings where the aerial has been removed • Any missing caps or covers on the bodywork.

                                        
                                  </div>
                                </div>
                              </div>
      
                              <div class="col-lg-12">
                                  <div class="card">
                                    <div class="card-status card-status-left bg-blue"></div>
                                    <div class="card-header">
                                        <h3 class="card-title">Bumpers and body mouldings</h3>
                                        <div class="card-options">
                                          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                          <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                        </div>
                                      </div>
                                    <div class="card-body">
                                            <img src="/public/rp2.jpg"><br>
                                            Acceptable: • Scuff marks up to 50mm (2"), which do not adversely affect the overall appearance of your vehicle.Not acceptable: • Discoloured, loose, cracked, distorted, gouged or split bumpers and mouldings that require replacement, plastic welding or painting • Dented bumpers and/or any dents penetrating through to the base material where painted • Repairs not conforming to original finish and specification.

                                            
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="col-lg-12">
                                    <div class="card">
                                      <div class="card-status card-status-left bg-blue"></div>
                                      <div class="card-header">
                                          <h3 class="card-title">Glass</h3>
                                          <div class="card-options">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                          </div>
                                        </div>
                                      <div class="card-body">
                                            <img src="/public/rp3.jpg"><br>
                                            Acceptable: • Chips on windscreen, which are less than 5mm, providing they do not obscure the driver’s line of vision to a maximum of two per windscreen (MOT standards) • Headlamp lenses with minor chips, which do not detract from the overall appearance of your Vehicle or affect the efficiency of the lamp • Light scratches around periphery of the windscreen.Not acceptable: • Scratches and cracks in glass or stone chips with signs of cracking will need to be repaired • Cracks or damage to the windscreen within the driver’s line of sight • Chips greater than 5mm • Incompatible window etchings • All lamps must be operational, holes or cracks in the glass or plastic covers of lamp units are not acceptable.

                                            
                                      </div>
                                    </div>
                                  </div>
      
                                  <div class="col-lg-12">
                                      <div class="card">
                                        <div class="card-status card-status-left bg-blue"></div>
                                        <div class="card-header">
                                            <h3 class="card-title">Interior </h3>
                                            <div class="card-options">
                                              <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                              <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                            </div>
                                          </div>
                                        <div class="card-body">
                                                <img src="/public/rp4.jpg"><br>
                                                The interior of your vehicle must be in a good condition for the age and mileage of the vehicle. Spare keys, transmitters and codes, alarm system, locking wheel nuts and Handbook and Service Manual must be completed and left in your vehicle.
                                                Acceptable: • Normal wear and tear to carpets, trim, upholstery, etc • Seat cover/trim repairs to a high standard • Texture repairs or colour matching plugs resulting from the removal of telephone/ accessory equipment.
                                                Not acceptable: • Burns to trim, seat covers, headlining and floor coverings requiring repair • Stains or discolouration of a permanent nature • Tears, cuts, rips and holes through seat covers, headlining and floor covering • Broken or damaged interior mouldings, trim pads, instrument panel, sun visor or headlining, etc. • Holes resulting from the removal of telephone accessory equipment. Telephone fitting kits should be left in-situ wherever possible • Any extended warranty items.

                                                
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="card">
                                          <div class="card-status card-status-left bg-blue"></div>
                                          <div class="card-header">
                                              <h3 class="card-title">Wheels and Tyres</h3>
                                              <div class="card-options">
                                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                              </div>
                                            </div>
                                          <div class="card-body">
                                             <img src="/public/rp5.jpg" class="img-fluid"><br> 
                                                Your vehicle must conform to the original specification of the vehicle. It must have matching tyres (of a size and brand, approved by the manufacturer) on each axle, for example: Premium – Bridgestone, Continental, Dunlop, Goodyear, Pirelli, Michelin, Hankook. Mid-Range – Avon, Firestone, Uniroyal, Vredestein, Yokohama.<br>
                                                Acceptable: • Scuffed sidewalls which can be cleaned • Minor scuffing or damage under 25mm to the vehicle alloy or steel rim edge or wheel face • Minimum remaining tread of 1.6mm across 75% of the tyre, in line with current legislation (MOT).<br>
                                                Not acceptable: • Tyres showing uneven wear indicating steering damage, i.e. tyre tread feathering • Remoulds and other substandard tyres • Any gouge, crack, cut, torn or plugged tyre side wall • Less than 1.6mm tread depth across 75% of the tyre including spare • Cracked or distorted wheel trims • Scuff chips and scratches exceeding 25mm • Tyres with excessive wear not matching age or mileage of your vehicle.

                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-lg-12">
                                          <div class="card">
                                            <div class="card-status card-status-left bg-blue"></div>
                                            <div class="card-header">
                                                <h3 class="card-title">Oil Leaks</h3>
                                                <div class="card-options">
                                                  <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                  <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                                </div>
                                              </div>
                                            <div class="card-body">
                                                <img src="/public/rp6.jpg"><br>
                                                    <strong>Acceptable</strong><br> 
                                                    • Some minor oil misting or dampness around seals or gaskets, providing oil drips are not present.
                                                    <br>
                                                    <strong>Not acceptable</strong> <br>
                                                    • Any serious oil leakage which should be rectified at the earliest opportunity

                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-lg-12">
                                                <div class="card">
                                                  <div class="card-status card-status-left bg-orange"></div>
                                                  <div class="card-header">
                                                      <h3 class="card-title">Luggage Area</h3>
                                                      <div class="card-options">
                                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                                      </div>
                                                    </div>
                                                  <div class="card-body">
                                                      <img src="/public/rp7.jpg"><br>
                                                          <strong>Acceptable</strong><br> 
                                                          • Light soiling from normal use.
                                                          <br>
                                                          <strong>Not acceptable</strong> <br>
                                                          • Torn rubber aperture seals and paint scratched down to the bare metal.
      
                                                  </div>
                                                </div>
                                              </div>

                                        <div class="col-lg-12">
                                            <div class="card">
                                              <div class="card-status card-status-left bg-green"></div>
                                              <div class="card-header">
                                                  <h3 class="card-title">Door aperture tread area?</h3>
                                                  <div class="card-options">
                                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                                  </div>
                                                </div>
                                              <div class="card-body">
                                                    <img src="/public/rp8.jpg"><br>
                                                    <strong>Acceptable</strong><br> 
                                                    • A minor amount of scuffing to the door and luggage area treads and sills.
                                                    <br>
                                                    <strong>Not acceptable</strong> <br>
                                                    • Damaged paintwork down to bare metal and aperture seals that are torn.
                                              </div>
                                            </div>
                                          </div>
                    <!-- finish -->
                  </div>
                </div>
              </div>
        
        </div>

        </div>
        </div>
<%- include('footer'); -%>